body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
}

header {
    text-align: center;
    background: linear-gradient(45deg, #744FC6 0%, #4F86C6 100%);
    color: aliceblue;
    margin-top: -25px;
    padding: 10px;
}

main .search-container {
    display: flex;
    justify-content: space-between;
}


form h2 {
    text-align: center;
}

#search {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 25px;
}

#search-button {
    background: linear-gradient(45deg, #744FC6 0%, #4F86C6 100%);
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    color: white;
    font-size: 15px;
}

#search {
    font-size: 20px;
}

.history-container {
    display: flex;
    justify-content: space-between;
}

.overview-container {
    display: flex;
    justify-content: space-around;
}

.forecast-container {
    display: flex;
    justify-content: space-around;
}


