body {
    font-family: "Helvetica";
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
}

header {
    text-align: center;
    background: linear-gradient(45deg, #744FC6 0%, #4F86C6 100%);
    color: aliceblue;
    margin-top: 0px;
    padding: 20px;
}

main {
    margin-top: 10px;
    text-align: center;
}

form h2 {
    text-align: center;
}

#search-input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 20px;
}

#search-button {
    background: linear-gradient(45deg, #744FC6 0%, #4F86C6 100%);
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    color: white;
    font-size: 15px;
}

.overview {
    border: 2px solid black;
    
}

.overview div {
    font-size: 20px;
    text-align: left;

}



